<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>学友会　備品貸出システム</title>
<meta name="keywords" content="">
<meta name="description" content="">

</head>



<body>

<%= render 'layouts/head_gakuyu_info' %>
<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main" class="content">
    	<h3 class="heading">局員全体連絡</h3>
     	<article>

			<div class="infomation" id="infomation"></div>

			<div class="btn">
				<a href="/gakuyu_info1" class="btn-flat-border">---------前のページへ--------</a>
			</div>

			<div id="addbtn"></div>
			
		</article>
	</section>
</div>
<!-- / ============================コンテンツ============================ -->




<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
</body>
</html>



<script>
	console.log(gon.info)

	text = '<p>'+gon.info["title"]+'</p>'
			+'<div class="alert alert-secondary" role="alert">'

	for(i=0;i<gon.info["content"].split('\n').length;i++){		
		text = text+gon.info["content"].split('\n')[i]+'<br>'
	}

	text = text+'<br><a href="'+gon.info["text"]+'">'+gon.info["text"]+'</a>'
				+'</div>'


	document.getElementById('infomation').insertAdjacentHTML('beforeend',text)

	// if(gon.info["done"]==null){
		// text =  '<a href="gakuyu_info_checked.'
			// +gon.info["id"]
			// +'"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-square mr-3" viewBox="0 0 16 16">'
  			// +'<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>'
  			// +'<path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>'
			// +'</svg></a>'
		// document.getElementById('addbtn').insertAdjacentHTML('beforeend',text)
	// }else if(!(gon.info["done"].includes(gon.user_info["macname"]))){
		// text =  '<a href="gakuyu_info_checked.'
			// +gon.info["id"]
			// +'"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-square mr-3" viewBox="0 0 16 16">'
	  		// +'<path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>'
	  		// +'<path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>'
			// +'</svg></a>'
		// document.getElementById('addbtn').insertAdjacentHTML('beforeend',text)
	// }



</script>