<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<title>学友会　備品貸出システム</title>
<meta name="keywords" content="">
<meta name="description" content="">

</head>



<body>

<%= render 'layouts/head_gakuyu_info' %>
<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main" class="content">
    	<h3 class="heading">局員全体連絡</h3>
     	<article>
			<%# <div> %>
				<%# <ul> %>
					<%# <li class="mt-4"> %>
						<%# コロナ注意だよ %>
					<%# </li> %>
					<%# <div class="bord"></div> %>
					<%# <li class="mt-4"> %>
						<%# コロナ注意だよ %>
					<%# </li> %>
					<%# <div class="bord"></div> %>
				<%# </ul> %>
			<%# </div> %>
		<div class="infolist">
			<div class="alert alert-secondary" role="alert">
				<a href="gakuyu_info1_content">コロナに関して</a>
				<hr>
				<span class="badge badge-primary">重要</span>
				<span class="badge badge-success">要回答</span>
				<span class="badge badge-danger">宣伝</span>
				<span class="badge badge-info">クラブ</span>
			</div>

			<div class="alert alert-secondary" role="alert">
				<a href="gakuyu_info1_content">秋学期代議員会企画</a>
				<hr>
				<span class="badge">重要</span>
				<span class="badge badge-success">要回答</span>
				<span class="badge">宣伝</span>
				<span class="badge badge-info">クラブ</span>
			</div>
		</div>

			
			
			
			
			
			
			

			
			
			
		

		</article>
	</section>
</div>
<!-- / ============================コンテンツ============================ -->




<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
<!-- / フッター -->
</body>
</html>