<!DOCTYPE html> 
<html dir="ltr" lang="ja">
<!-- ============================ヘッダー================================ -->
<%= render 'layouts/header' %>

<!-- ============================メインナビゲーション================================ -->
<nav id="mainNav">
	<div class="inner">
  	<a class="menu" id="menu"><span>MENU</a>
		<div class="panel">    
      <ul>
      	<li><a href="/uketuke2_new"><strong>備品の貸出</strong><span>Rental equipment</a></li>
  			<li><a href="/uketuke2_new"><strong>音楽練習室</strong><span>Borrowed</a></li>
  			<li><a href="/uketuke3_new"><strong>会議室・和室・厨房</strong><span>cReservation</a></li>
  			<li><a href="/uketuke4_new"><strong>その他施設</strong><span>History</a></li>
        <!-- <li><a href="/uketuke5"><strong>要望書</strong><span>special</a></li> -->
  		</ul>   
    </div>
	</div> 
</nav>
<!-- / ==========================メインナビゲーション=============================== -->


<!-- =============================コンテンツ=====================================- -->
<div id="wrapper">
	<section id="main">
    <section class="content">
    	<h3 class="heading">学友会 備品の貸出</h3>
     	<article>



<br>このサイトでは、備品、施設の貸し出し申請、学友会へのお問い合わせができます。
<br>*<a href="#jump1">備品の貸出申請</a>
<br>*<a href="#jump2">施設（音楽練習室、会議室等）の利用申請</a>
<br>*<a href="#jump3">部室の利用申請</a>
<br>*<a href="#jump4">申請内容の確認</a>
<br>*<a href="#jump5">Q&amp;A</a>

<br><br><br><br>申請をする前に。。。
<br>アカウントの作成が必要です

<br><br><br><br><img width=297 height=173 id="図 7" src="/assets/image002" alt="">
<br><img width=588 height=174 id="図 24" src="/assets/image003">

<br>トップページの受付用ページからアカウントの作成をお願いします。

<br><br><br><br><h1>
  <img width=30 height=30 id="グラフィックス 1" src="/assets/image004" alt=ドングリ>
  <a name="jump1">備品の貸出申請</a>
</h1>

<br><img width=425 height=33 id="図 5" src="/assets/image005">

<br>1.メニューバーから備品の貸出ページへ移動する

<br><img width=367 height=112 id="図 11" src="/assets/image006">

<br>2.申請をする備の名前をクリック

<br>3.必要事項を入して申請

<br><br><br><br><h1><img width=30 height=30 id="グラフィックス 2" src="/assets/image004"
alt=ドングリ><a name="jump2">施設（音楽練習室、会議室等）の利用申請</a></h1>

<br><img width=425 height=32 id="図 14"
src="/assets/image008">

<br>1.メニューバーから備品の貸出ページへ移動する

<br><img width=425 height=286 id="図 13"
src="/assets/image009">

<br>2.申請をしたい間帯のチェックボックス全てにチェックを入れる

<br>3.その他必要事を入力して申請


<br><br><br><br><h1><img width=30 height=30 id="グラフィックス 3"
src="/assets/image004" alt=ドングリ><a name="jump3">部室の利用申請</a></h1>

<br>*現在、部室を利用するために事前の申請が必要です。

<br><img width=733 height=153 id="図 16"
src="/assets/image010">

<br>1.ページ最下部お問い合わせをクリック

<br>2.必要事項を力

<br>**内容の項目に希望時間帯、申請理由を詳細に入力していただくようにお願いします


<br><br><br><br><h1><img width=30 height=30 id="グラフィックス 12" src="/assets/image004"
alt=ドングリ><a name="jump4">申請内容の確認</a></h1>

<br>**申請した内容を自分のアカウントから確認することができます

<br><img width=575 height=87 id="図 8"
src="/assets/image011">

<br><img width=274 height=292 src="/assets/image012"
align=left hspace=12>

<br>1.ページ右上のボタンをクリック（赤丸）
<br>2.申請内容を確認するをクリック

<br>**申請の許可が下りたものは（許可待ち）

<br>の項目に表示されます。


<br><br><br><br><h1><img width=30 height=30 id="グラフィックス 6"
src="/assets/image004" alt=ドングリ><a name="jump5">Q&amp;A</a></h1>

<br>Qアカウント情報を忘れてしまってログインができない

<br>Aお手数ですが、学友会本部まで足を運んでいただくようよろしくお願いします



</div>









    	</article>
    </section>
</div>
<!-- / ============================コンテンツ============================ -->


<style type="text/css">
  h1{
    font-size: 25px;
  }
</style>























<!-- フッター -->
<footer id="footer">
	<%= render 'layouts/footer' %>
</footer>
	<!-- / フッター -->
	<address>Copyright(c) 2019 Sample Inc. All Rights Reserved. Design by <a href="http://f-tpl.com" target="_blank" rel="nofollow">http://f-tpl.com</a></address>

</body>
</html>