<!DOCTYPE html>

<script language="javascript" type="text/javascript">
$(function(){$("div.panel").hide();$(".menu").click(function(){$(this).toggleClass("menuOpen").next().slideToggle();});});
</script>

<div class="inner">
  	<!-- 左側 -->
		<div id="info" class="grid">
			<!-- ロゴ -->
			<div class="logo">
				<a href="home.html">学友会<br /><span>創大建設何のため　勝利と平和と皆の幸福のため</span></a>
			</div>
			<!-- / ロゴ -->
			<!-- 電話番号+受付時間 -->
			<div class="info">
				<p class="tel"><span>局スペ:</span> 042-691-0806</p>
				<p class="tel"><span> 分室:</span> 042-698-1914</p>
				<p class="open">受付時間: AM 9:00 〜 PM 8:45</p>
			</div>
			<!-- / 電話番号+受付時間 -->
		</div>  
		<!-- / 左側 -->
		<!-- 右側 ナビゲーション -->
		<ul class="footnav">
<!-- 			<li><a href="subpage.html">eco・環境事業</a></li>
			<li><a href="subpage.html">コンピュータ事業</a></li>
			<li><a href="subpage.html">飲食店事業</a></li>
			<li><a href="subpage.html">介護・医療事業</a></li>
			<li><a href="subpage.html">ごあいさつ</a></li>
			<li><a href="subpage.html">サービス概要</a></li>
			<li><a href="subpage.html">会社情報</a></li> -->
			<li><a href="/support_new">お問い合わせ</a></li>
			<li><%= link_to 'ログアウト', logout_path, :method => :delete, data: { confirm: 'Are you sure?' } %></li>

		</ul>
		<!-- / 右側 ナビゲーション
	</div>
</html>