<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
		<title>学友会　備品貸出システム</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
	</head>
	<body>
	<header id="header">
		<h1>学友会　備品貸出システム</h1>
		<div class="logo">
			<a href="/home">学友会<br /><span>Soka University</span></a>
		</div>
		<div class="info" id="user_info">
		</div>
	</header>
</html>